<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat  room</title>
</head>
<body>
<h1>Chat room {{ chat.title }}</h1>

{% if user == chat.owner %}
  <button id="edit-title-btn">Edit room title</button>
{% endif %}

<br/><br/>
<textarea id="chat-messages" cols="100" rows="20" readonly></textarea>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">

<br/><br/>
<a href="{% url 'index' %}"><button>Back</button></a>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Function to retrieve chat history
    function getChatHistory() {
      // Extract chat ID from the URL
      var url = window.location.href;
      var regex = /\/([^\/]+)\/$/;
      var match = regex.exec(url);
      var chatId = match[1];
      var chatMessages = document.getElementById('chat-messages');

      fetch('http://127.0.0.1:8000/api/chat_rooms/' + chatId + '/', {
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        }
      })
        .then(response => response.json())
        .then(data => {
          chatMessages.value = ''; // Clear the existing messages before appending the new ones
          data.forEach(message => {
            chatMessages.value += `${message.sender_username}: ${message.text}\n\n`;
          });
        })
        .catch(error => console.log(error));
    }

    // Call the function to retrieve chat history
    getChatHistory();

    // Function to handle edit title button click
    function handleEditTitle() {
      var url = window.location.href;
      var regex = /\/([^\/]+)\/$/;
      var match = regex.exec(url);
      var chatId = match[1];
      var chatMessages = document.getElementById('chat-messages');

      var newTitle = prompt('Enter the new chat room title:');
      if (newTitle) {
        fetch('http://127.0.0.1:8000/api/chat_rooms/' + chatId + '/', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'
          },
          body: JSON.stringify({ title: newTitle })
        })
          .then(response => {
            if (response.ok) {
              // If the chat title was successfully updated, reload the page to show the new title
              location.reload();
            } else {
              console.error('Error updating chat room title:', response.statusText);
            }
          })
          .catch(error => {
            console.error('Error updating chat room title:', error);
          });
      }
    }

    // Add event listener to the edit title button
    var editTitleBtn = document.getElementById('edit-title-btn');
    if (editTitleBtn) {
      editTitleBtn.addEventListener('click', handleEditTitle);
    }

    // Message input logic

            var url = window.location.href;
            var regex = /\/([^\/]+)\/$/;
            var match = regex.exec(url);
            var chatID = match[1];

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/public_chat/'
            + chatID
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-messages').value += `${data.message.sender_username}: ` + data.message.text + '\n' + '\n';
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
  });
</script>

</body>
</html>
