<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     {% if messages %}
      {% for message in messages %}
        <div role="alert">
          <strong> {{ message }} </strong>
          <button type="button">Close</button>
        </div>
      {% endfor %}
    {% endif %}

    <div>
        <h1>Login</h1>
        <br>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
              <div class="mb-3">
                <input type="text" name="username" placeholder="Username" required>
              </div>
              <div class="mb-3">
                <input type="password" name="password" placeholder="Password" required>
              </div>
              <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>