<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private chat</title>
</head>
<body>
<h1>Private chat between {{ chat.user1 }} and {{ chat.user2 }}</h1>

  <textarea id="chat-messages" cols="100" rows="20" readonly></textarea>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Function to retrieve chat history
      function getChatHistory() {
        // Extract chat ID from the URL
        var url = window.location.href;
        var regex = /\/([^\/]+)\/$/;
        var match = regex.exec(url);
        var chatId = match[1];
        const currentUserID = {{ request.user.id }}
        var chatMessages = document.getElementById('chat-messages');

        fetch('http://127.0.0.1:8000/chat/api/private_chats/' + chatId + '/', {
          headers: {
                     'X-CSRFToken': '{{ csrf_token }}'
          }
          })
          .then(response => response.json())
          .then(data => {
            data.forEach(message => {
              if(message.sender === parseInt(currentUserID)) {
              chatMessages.value += 'You: ' + `${message.text}` + '\n' + '\n';
              }
              else {
              chatMessages.value += `${message.sender_username}: ` + `${message.text}` + '\n' + '\n';
              }
            });
          })
          .catch(error => console.log(error));
      }

      // Call the function to retrieve chat history
      getChatHistory();
    });
  </script>

</body>
</html>

